# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/

# Node
node_modules/
frontend/dist/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Build artifacts
tsconfig.tsbuildinfo

# Misc
pbcopy
